table, td, th{
    border: 1px solid black;
    text-align: center;
    width: 250px;
}
#nt2{
    padding: 60px 0;
}
.html{
    background-color: rgb(0, 0, 0);
    color: white;
}
#nt3{
    padding: 20px 0;
}